* {
  font-family: "Space Mono", "Muli", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(
      to right,
      rgba(225, 0, 255, 0.25) 80%,
      #7f00ff 100%
    ),
    url("../img/hotel-room-service-classic-breakfast_4460x4460.jpg") no-repeat
      center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
a {
  text-decoration: none;
}
#home {
  padding: 70px 0 0 0;
}
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
}
.header img {
  width: 100px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 100px;
}
.container .login {
  background: transparent;
  padding: 7px 45px;
  border: 2px solid #fff;
  margin: 20px;
  font-size: 20px;
  color: white;
  transition: all 0.5s ease-in-out;
}
.container .login:hover {
  background: #1ec27b;
  color: #fdf9f8;
  transform: scale(0.9, 0.9);
}
.container .signup {
  background: #1ec27b;
  padding: 7px 45px;
  border: 2px solid #fff;
  margin: 20px;
  font-size: 20px;
  color: white;
  transition: all 0.5s ease-in-out;
}
.container .signup:hover {
  background: transparent;
  color: #1ec27b;
  font-weight: bold;
  transform: scale(0.9, 0.9);
}
#register {
  display: none;
  position: relative;
  top: -350px;
  margin: 0px 200px;
  background: #088f90;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
  border-radius: 5px;
}
#signinForm {
  display: none;
  position: relative;
  top: -300px;
  margin: 0px 250px;
  background: #088f90;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
  border-radius: 5px;
}
#register .formLogo,
#signinForm .signinLogo {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
#register .formLogo i,
#signinForm .signinLogo i {
  font-size: 30px;
  line-height: 50px;
  color: white;
  padding-right: 50px;
  transition: all 0.5s ease-in-out;
}
#register .formLogo i:hover,
#signinForm .signinLogo i:hover {
  color: red;
  transform: scale(0.8, 0.8);
}
#register img,
#signinForm .signinLogo img {
  width: 100px;
  height: 60px;
  border-radius: 50%;
  flex: 1;
}
#register .formGroup,
#signinForm .signinGroup {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#register .loginCaller,
#signinForm .signupCaller {
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
#register .loginCaller:hover,
#signinForm .signupCaller:hover {
  transform: scale(0.8, 0.8);
  transition: all 0.5s ease-in-out;
}
#register input,
#signinForm input {
  width: 355px;
  padding: 0 20px;
  text-decoration: none;
  line-height: 50px;
  font-size: 15px;
  height: 50px;
  border: 1px solid #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
}
#register input:active {
  border: 5px solid #7f00ff;
  transition: all 0.1s ease-in-out;
}
#register .submitForm,
#signinForm .submitSign {
  display: flex;
  justify-content: center;
}
#register .submitForm button,
#signinForm .submitSign button {
  color: #fdf9f8;
  border: 2px solid transparent;
  background: #1ec27b;
  border-image: linear-gradient(
    to right,
    rgba(225, 0, 255, 1.25) 80%,
    #7f00ff 100%
  );
  border-image-slice: 1;
  font-size: 20px;
  width: 200px;
  padding: 5px 0;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}
#register .submitForm button:hover,
#signinForm .submitSign button:hover {
  background: transparent;
  color: black;
  transform: scale(0.9, 0.9);
}

@media (max-width: 950px) {
  #register {
    background: #088f90;
    margin: 0px 40px;
  }
  #signinForm {
    background: #088f90;
    margin: 0px 40px;
  }
  .header {
    font-size: 16px;
  }
}
